In [ ]:
pip install "dask[complete]" #package required to use dask data frames. Colab does not support the package directly

Requirement already satisfied: dask[complete] in /usr/local/lib/python3.7/dist-packages (2.12.0)
Collecting distributed>=2.0
  Downloading distributed-2022.1.1-py3-none-any.whl (830 kB)
     |████████████████████████████████| 830 kB 5.1 MB/s
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (1.1.5)
Requirement already satisfied: toolz>=0.7.3 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (0.11.2)
Requirement already satisfied: cloudpickle>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (1.3.0)
Requirement already satisfied: PyYaml in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (3.13)
Collecting partd>=0.3.10
  Downloading partd-1.2.0-py3-none-any.whl (19 kB)
Collecting fsspec>=0.6.0
  Downloading fsspec-2022.1.0-py3-none-any.whl (133 kB)
     |████████████████████████████████| 133 kB 38.8 MB/s
Requirement already satisfied: bokeh>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (2.3.3)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (1.19.5)
Requirement already satisfied: packaging>=16.8 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->dask[complete]) (21.3)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->dask[complete]) (3.10.0.2)
Requirement already satisfied: Jinja2>=2.9 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->dask[complete]) (2.11.3)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->dask[complete]) (7.1.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->dask[complete]) (2.8.2)
Requirement already satisfied: tornado>=5.1 in /usr/local/lib/python3.7/dist-packages (from bokeh>=1.0.0->dask[complete]) (5.1.1)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (1.0.3)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (1.7.0)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (7.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (57.4.0)
Requirement already satisfied: psutil>=5.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (5.4.8)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (2.4.0)
Collecting cloudpickle>=0.2.1
  Downloading cloudpickle-2.0.0-py3-none-any.whl (25 kB)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.0->dask[complete]) (2.0.0)
Collecting distributed>=2.0
  Downloading distributed-2022.1.0-py3-none-any.whl (822 kB)
     |████████████████████████████████| 822 kB 45.1 MB/s
  Downloading distributed-2021.12.0-py3-none-any.whl (802 kB)
     |████████████████████████████████| 802 kB 42.2 MB/s
  Downloading distributed-2021.11.2-py3-none-any.whl (802 kB)
     |████████████████████████████████| 802 kB 37.4 MB/s
  Downloading distributed-2021.11.1-py3-none-any.whl (793 kB)
     |████████████████████████████████| 793 kB 49.9 MB/s
  Downloading distributed-2021.11.0-py3-none-any.whl (793 kB)
     |████████████████████████████████| 793 kB 42.1 MB/s
  Downloading distributed-2021.10.0-py3-none-any.whl (791 kB)
     |████████████████████████████████| 791 kB 49.9 MB/s
  Downloading distributed-2021.9.1-py3-none-any.whl (786 kB)
     |████████████████████████████████| 786 kB 45.4 MB/s
  Downloading distributed-2021.9.0-py3-none-any.whl (779 kB)
     |████████████████████████████████| 779 kB 39.8 MB/s
  Downloading distributed-2021.8.1-py3-none-any.whl (778 kB)
     |████████████████████████████████| 778 kB 44.8 MB/s
  Downloading distributed-2021.8.0-py3-none-any.whl (776 kB)
     |████████████████████████████████| 776 kB 44.9 MB/s
  Downloading distributed-2021.7.2-py3-none-any.whl (769 kB)
     |████████████████████████████████| 769 kB 35.9 MB/s
  Downloading distributed-2021.7.1-py3-none-any.whl (766 kB)
     |████████████████████████████████| 766 kB 42.6 MB/s
  Downloading distributed-2021.7.0-py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 43.7 MB/s
  Downloading distributed-2021.6.2-py3-none-any.whl (722 kB)
     |████████████████████████████████| 722 kB 53.0 MB/s
  Downloading distributed-2021.6.1-py3-none-any.whl (722 kB)
     |████████████████████████████████| 722 kB 39.6 MB/s
  Downloading distributed-2021.6.0-py3-none-any.whl (715 kB)
     |████████████████████████████████| 715 kB 36.9 MB/s
  Downloading distributed-2021.5.1-py3-none-any.whl (705 kB)
     |████████████████████████████████| 705 kB 34.4 MB/s
  Downloading distributed-2021.5.0-py3-none-any.whl (699 kB)
     |████████████████████████████████| 699 kB 42.3 MB/s
  Downloading distributed-2021.4.1-py3-none-any.whl (696 kB)
     |████████████████████████████████| 696 kB 22.2 MB/s
  Downloading distributed-2021.4.0-py3-none-any.whl (684 kB)
     |████████████████████████████████| 684 kB 45.4 MB/s
  Downloading distributed-2021.3.1-py3-none-any.whl (679 kB)
     |████████████████████████████████| 679 kB 39.2 MB/s
  Downloading distributed-2021.3.0-py3-none-any.whl (675 kB)
     |████████████████████████████████| 675 kB 42.1 MB/s
  Downloading distributed-2021.2.0-py3-none-any.whl (675 kB)
     |████████████████████████████████| 675 kB 36.3 MB/s
  Downloading distributed-2021.1.1-py3-none-any.whl (672 kB)
     |████████████████████████████████| 672 kB 36.2 MB/s
  Downloading distributed-2021.1.0-py3-none-any.whl (671 kB)
     |████████████████████████████████| 671 kB 37.1 MB/s
  Downloading distributed-2020.12.0-py3-none-any.whl (669 kB)
     |████████████████████████████████| 669 kB 46.1 MB/s
  Downloading distributed-2.30.1-py3-none-any.whl (656 kB)
     |████████████████████████████████| 656 kB 29.0 MB/s
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2>=2.9->bokeh>=1.0.0->dask[complete]) (2.0.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=16.8->bokeh>=1.0.0->dask[complete]) (3.0.7)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->dask[complete]) (2018.9)
Collecting locket
  Downloading locket-0.2.1-py2.py3-none-any.whl (4.1 kB)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->bokeh>=1.0.0->dask[complete]) (1.15.0)
Requirement already satisfied: heapdict in /usr/local/lib/python3.7/dist-packages (from zict>=0.1.3->distributed>=2.0->dask[complete]) (1.0.1)
Installing collected packages: locket, cloudpickle, partd, fsspec, distributed
  Attempting uninstall: cloudpickle
    Found existing installation: cloudpickle 1.3.0
    Uninstalling cloudpickle-1.3.0:
      Successfully uninstalled cloudpickle-1.3.0
  Attempting uninstall: distributed
    Found existing installation: distributed 1.25.3
    Uninstalling distributed-1.25.3:
      Successfully uninstalled distributed-1.25.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
gym 0.17.3 requires cloudpickle<1.7.0,>=1.2.0, but you have cloudpickle 2.0.0 which is incompatible.
Successfully installed cloudpickle-2.0.0 distributed-2.30.1 fsspec-2022.1.0 locket-0.2.1 partd-1.2.0

Importing the required libraries

In [ ]:
import dask
import dask.dataframe as dd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression, ElasticNet
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score, mean_squared_error,mean_absolute_percentage_error
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D, Conv1D
from tensorflow.keras.layers import MaxPool2D, MaxPool1D
from tensorflow.keras.layers import Flatten, Activation
from tensorflow.keras.layers import Dropout
from tensorflow.keras.layers import Dense
from keras.utils.vis_utils import plot_model
from keras.utils.np_utils import to_categorical
from keras.callbacks import ModelCheckpoint
from keras.models import load_model
from tensorflow.keras import metrics
import matplotlib.pyplot as plt
import time
from numpy.random import seed
import graphviz
import tensorflow as tf

In [ ]:
from google.colab import drive # Mount the drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd drive/MyDrive #set the working directory to read the required file

[Errno 2] No such file or directory: 'drive/MyDrive'
/content/drive/MyDrive

In [ ]:
col = ['Transaction_unique_identifier', 'Price', 'Date_of_Transfer', 'Postcode', 'Property_Type', 'Old_New', 
       'Duration', 'PAON', 'SAON', 'Street', 'Locality', 'Town_City', 'District', 'County', 'PPD_Category_Type', 
       'Record_Status_monthly_file'] # setting up headers for the data
file = dd.read_csv('pp-complete.csv', names= col) #reading the file
file

Dask DataFrame Structure:
               Transaction_unique_identifier  Price Date_of_Transfer Postcode Property_Type Old_New Duration    PAON    SAON  Street Locality Town_City District  County PPD_Category_Type Record_Status_monthly_file
npartitions=73
                                      object  int64           object   object        object  object   object  object  object  object   object    object   object  object            object                     object
                                         ...    ...              ...      ...           ...     ...      ...     ...     ...     ...      ...       ...      ...     ...               ...                        ...
...                                      ...    ...              ...      ...           ...     ...      ...     ...     ...     ...      ...       ...      ...     ...               ...                        ...
                                         ...    ...              ...      ...           ...     ...      ...     ...     ...     ...      ...       ...      ...     ...               ...                        ...
                                         ...    ...              ...      ...           ...     ...      ...     ...     ...     ...      ...       ...      ...     ...               ...                        ...
Dask Name: from-delayed, 219 tasks

Steps for preprocessing

In [ ]:
file['Date_of_Transfer'] = dd.to_datetime(file['Date_of_Transfer'])
file['Month'] = file['Date_of_Transfer'].dt.month
file['Year'] = file['Date_of_Transfer'].dt.year
file = file.drop(columns=['SAON','Locality','Street','Transaction_unique_identifier',"Record_Status_monthly_file"],axis=1)
file =file.dropna()
file =file.drop(['Date_of_Transfer','PAON','Postcode'],axis=1)

file['Month'] -= 1  #scaling the months
file["Year"] -= 1995  #scaling the years

In [ ]:
file = file.compute()
file

         Price Property_Type Old_New  ... PPD_Category_Type Month Year
0        18500             F       N  ...                 A     0    0
1        73450             D       Y  ...                 A     9    0
2        59000             D       N  ...                 A     2    0
3        31000             D       Y  ...                 A    11    0
4        95000             D       N  ...                 A     8    0
...        ...           ...     ...  ...               ...   ...  ...
308403   51500             O       N  ...                 B     7   26
308404  230000             O       N  ...                 B     4   26
308405  205000             F       N  ...                 B     3   26
308406  185000             F       N  ...                 B     0   26
308407  248669             O       Y  ...                 B     0   26

[26610295 rows x 10 columns]

Fitting the models for every county

In [ ]:
grouped_data = file.groupby(['County']) # grouping the available data based on county

In [ ]:
def one_hot_encode (data , prefixes): # Code to perform one-hot encoding
  for prefix in prefixes:
    data = pd.concat([
            data, 
            pd.get_dummies(
                data[prefix], prefix=prefix,
                drop_first=True, sparse=False
            )
        ],
        axis=1
    )
    data = data.drop(prefix, axis=1)
  return data

In [ ]:

def get_model(cols): # Code to build deep neural network for every county.

  # Create the model: model

  model = Sequential()



  # Add the first hidden layer

  model.add(Dense(1000,activation='relu',input_shape =(cols,)))



  # Add the second hidden layer

  model.add(Dense(800,activation='relu'))



  model.add(Dense(1000,activation='relu'))



  model.add(Dense(800,activation='relu'))

  model.add(Dropout(0.10))

  model.add(Dense(1000,activation='relu'))

  model.add(Dropout(0.10))

  model.add(Dense(800,activation='relu'))

  model.add(Dropout(0.10))



  model.add(Dense(1000,activation='relu'))

  model.add(Dense(800,activation='relu'))



  # Add the output layer

  model.add(Dense(1,activation='relu'))



# Compile the model

  model.compile(optimizer='adam',loss='mean_absolute_percentage_error')

  return model

In [ ]:
def remove_outliers(df1_scaled): #function to remove outliers for training

    df1_no_out = df1_scaled.copy()

    df1_no_out.drop(df1_no_out[df1_no_out['Price']>3].index,inplace=True)

    return df1_no_out




def standardize(df): # funciton to standardize the price column

    temp=df.copy()

    temp['Price']= (temp['Price']-temp['Price'].mean())/temp['Price'].std()

    return temp



def destandardize(df1,df2): # function to de-standardize th eprice column

    temp = df1.copy()

    temp['Price'] = (temp['Price']*df2['Price'].std())+df2['Price'].mean()

    return temp

In [ ]:
lr_models = {}
dnn_models = {}
prefixes = [ 'Property_Type', 'Old_New', 
       'Duration', 'Town_City', 'District', 'PPD_Category_Type']
seed = 0
r2 = [] # storing the performance of the models on different metric
mse = []
mape = []
mae = []

In [ ]:

for name,data in grouped_data: # perform training for each county

    data= data.drop('County',axis =1) #County column is now not needed for training

    standardized_data = standardize(data)

    standardized_data = remove_outliers(standardized_data)

    destandardized_data = destandardize(standardized_data,data)

    destandardized_data = one_hot_encode(data,prefixes)

    y = destandardized_data['Price']

    X = destandardized_data.drop('Price', axis =1)

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=seed) #validation split size is set to 20%

    LR = ElasticNet(alpha=1, l1_ratio=0.5) # linear regression which penalizes model for L1 and L2

    LR.fit(X_train,y_train)#train the model

    lr_models[name] = LR

    y_pred = LR.predict(X_test) # storing the predictions for made by the linear regression model

    v = r2_score(y_test, y_pred) # validating performance on various metrics
    r2.append(v)
    print('R2 for ',name, ' ->', v)

    v = mean_squared_error(y_test, y_pred)
    mse.append(v)
    print('MSE for ',name, ' ->', v)

    v = mean_absolute_percentage_error(y_test, y_pred)
    mape.append(v)
    print('MAPE for ',name, ' ->', v)

    v = mean_absolute_error(y_test, y_pred)
    mae.append(v)
    print('MAE for ',name, ' ->',v)
    print("**********************")

R2 for  AVON  -> 0.0802419970343099
MSE for  AVON  -> 1588620378.9612598
MAPE for  AVON  -> 0.4528385093077556
MAE for  AVON  -> 24448.14441659894
**********************
R2 for  BATH AND NORTH EAST SOMERSET  -> 0.0843331299574489
MSE for  BATH AND NORTH EAST SOMERSET  -> 189464765689.81656
MAPE for  BATH AND NORTH EAST SOMERSET  -> 25.192539382607848
MAE for  BATH AND NORTH EAST SOMERSET  -> 130708.15611383769
**********************
R2 for  BEDFORD  -> 0.036373765944672676
MSE for  BEDFORD  -> 219937987314.71048
MAPE for  BEDFORD  -> 0.5892694028271868
MAE for  BEDFORD  -> 109211.77224379346
**********************
R2 for  BEDFORDSHIRE  -> 0.3751737112350837
MSE for  BEDFORDSHIRE  -> 5648208877.328908
MAPE for  BEDFORDSHIRE  -> 0.4228064045832845
MAE for  BEDFORDSHIRE  -> 47505.16965980934
**********************
R2 for  BERKSHIRE  -> 0.12310166037099268
MSE for  BERKSHIRE  -> 3260096623.6921735
MAPE for  BERKSHIRE  -> 0.40668299672540387
MAE for  BERKSHIRE  -> 36374.42300032094
**********************
R2 for  BLACKBURN WITH DARWEN  -> 0.02102616490467024
MSE for  BLACKBURN WITH DARWEN  -> 167050887375.29
MAPE for  BLACKBURN WITH DARWEN  -> 0.9375048281526533
MAE for  BLACKBURN WITH DARWEN  -> 52001.42562166973
**********************
R2 for  BLACKPOOL  -> 0.038056722950323696
MSE for  BLACKPOOL  -> 33568207344.267704
MAPE for  BLACKPOOL  -> 0.5073285085418182
MAE for  BLACKPOOL  -> 38624.091897423954
**********************
R2 for  BLAENAU GWENT  -> 0.15202507784166608
MSE for  BLAENAU GWENT  -> 6329489672.192574
MAPE for  BLAENAU GWENT  -> 0.7403929030492632
MAE for  BLAENAU GWENT  -> 31407.12500466892
**********************
R2 for  BOURNEMOUTH  -> 0.05687381999902663
MSE for  BOURNEMOUTH  -> 118618566961.21196
MAPE for  BOURNEMOUTH  -> 4.821356976114344
MAE for  BOURNEMOUTH  -> 69016.12542424131
**********************
R2 for  BOURNEMOUTH, CHRISTCHURCH AND POOLE  -> 0.037812788366169525
MSE for  BOURNEMOUTH, CHRISTCHURCH AND POOLE  -> 347638395243.18274
MAPE for  BOURNEMOUTH, CHRISTCHURCH AND POOLE  -> 1.2496487222640575
MAE for  BOURNEMOUTH, CHRISTCHURCH AND POOLE  -> 185612.7281044564
**********************
R2 for  BRACKNELL FOREST  -> 0.029077676739716174
MSE for  BRACKNELL FOREST  -> 874780513975.9695
MAPE for  BRACKNELL FOREST  -> 0.4290801578846377
MAE for  BRACKNELL FOREST  -> 105745.17457496775
**********************
R2 for  BRIDGEND  -> 0.21707797366407855
MSE for  BRIDGEND  -> 8716301506.053036
MAPE for  BRIDGEND  -> 0.815133377728904
MAE for  BRIDGEND  -> 45899.41916510007
**********************
R2 for  BRIGHTON AND HOVE  -> 0.06311824700514534
MSE for  BRIGHTON AND HOVE  -> 314016391947.69794
MAPE for  BRIGHTON AND HOVE  -> 5.4311977192184635
MAE for  BRIGHTON AND HOVE  -> 101793.941606622
**********************
R2 for  BUCKINGHAMSHIRE  -> 0.13608961972590095
MSE for  BUCKINGHAMSHIRE  -> 186135527883.1333
MAPE for  BUCKINGHAMSHIRE  -> 0.8124419079932929
MAE for  BUCKINGHAMSHIRE  -> 147211.51514952714
**********************
R2 for  CAERPHILLY  -> 0.05285704357449317
MSE for  CAERPHILLY  -> 40949777135.2776
MAPE for  CAERPHILLY  -> 0.5845273227439326
MAE for  CAERPHILLY  -> 41462.989833913096
**********************
R2 for  CAMBRIDGESHIRE  -> 0.11636093589457153
MSE for  CAMBRIDGESHIRE  -> 97621730441.32626
MAPE for  CAMBRIDGESHIRE  -> 0.5749966192621156
MAE for  CAMBRIDGESHIRE  -> 86936.62920868112
**********************
R2 for  CARDIFF  -> 0.027517757042738733
MSE for  CARDIFF  -> 279294068693.8549
MAPE for  CARDIFF  -> 0.7735166105207543
MAE for  CARDIFF  -> 76128.91261672907
**********************
R2 for  CARMARTHENSHIRE  -> 0.15036987692242432
MSE for  CARMARTHENSHIRE  -> 14636498470.675365
MAPE for  CARMARTHENSHIRE  -> 0.6691348250800206
MAE for  CARMARTHENSHIRE  -> 51517.67458596784
**********************
R2 for  CENTRAL BEDFORDSHIRE  -> 0.008960037378676344
MSE for  CENTRAL BEDFORDSHIRE  -> 1079327035807.1292
MAPE for  CENTRAL BEDFORDSHIRE  -> 0.6779318003338909
MAE for  CENTRAL BEDFORDSHIRE  -> 114081.24574506252
**********************
R2 for  CEREDIGION  -> 0.15051120915205285
MSE for  CEREDIGION  -> 21346592280.08978
MAPE for  CEREDIGION  -> 0.6807451263490731
MAE for  CEREDIGION  -> 60137.84218336449
**********************
R2 for  CHESHIRE  -> 0.24300281601786555
MSE for  CHESHIRE  -> 11247609004.441162
MAPE for  CHESHIRE  -> 0.5720082102486408
MAE for  CHESHIRE  -> 59650.75971887922
**********************
R2 for  CHESHIRE EAST  -> 0.04755983355165683
MSE for  CHESHIRE EAST  -> 175976289937.07834
MAPE for  CHESHIRE EAST  -> 1.4576876925073927
MAE for  CHESHIRE EAST  -> 144512.1256669281
**********************
R2 for  CHESHIRE WEST AND CHESTER  -> 0.07404592582705893
MSE for  CHESHIRE WEST AND CHESTER  -> 69297162382.22937
MAPE for  CHESHIRE WEST AND CHESTER  -> 0.8291547836084411
MAE for  CHESHIRE WEST AND CHESTER  -> 112127.21490345565
**********************
R2 for  CITY OF BRISTOL  -> 0.03178982531368668
MSE for  CITY OF BRISTOL  -> 408717511472.1442
MAPE for  CITY OF BRISTOL  -> 0.8300408800010757
MAE for  CITY OF BRISTOL  -> 99569.42626716627
**********************
R2 for  CITY OF DERBY  -> 0.06321811809512456
MSE for  CITY OF DERBY  -> 50967710006.846794
MAPE for  CITY OF DERBY  -> 0.5454740273116794
MAE for  CITY OF DERBY  -> 53918.376107979915
**********************
R2 for  CITY OF KINGSTON UPON HULL  -> 0.028520029655920487
MSE for  CITY OF KINGSTON UPON HULL  -> 71728937466.66154
MAPE for  CITY OF KINGSTON UPON HULL  -> 0.5380594727930877
MAE for  CITY OF KINGSTON UPON HULL  -> 36931.333040322934
**********************
R2 for  CITY OF NOTTINGHAM  -> 0.013894915538249064
MSE for  CITY OF NOTTINGHAM  -> 669695858889.7384
MAPE for  CITY OF NOTTINGHAM  -> 0.8531540298884118
MAE for  CITY OF NOTTINGHAM  -> 83475.87331878889
**********************
R2 for  CITY OF PETERBOROUGH  -> 0.017688875368983892
MSE for  CITY OF PETERBOROUGH  -> 381210635319.6629
MAPE for  CITY OF PETERBOROUGH  -> 0.511749693824508
MAE for  CITY OF PETERBOROUGH  -> 70033.4029139505
**********************
R2 for  CITY OF PLYMOUTH  -> 0.05329618114405099
MSE for  CITY OF PLYMOUTH  -> 60754119902.401886
MAPE for  CITY OF PLYMOUTH  -> 0.5808822063950579
MAE for  CITY OF PLYMOUTH  -> 56850.77988735011
**********************
R2 for  CLEVELAND  -> 0.1412843772015525
MSE for  CLEVELAND  -> 390132909.61264265
MAPE for  CLEVELAND  -> 0.38210711908918704
MAE for  CLEVELAND  -> 13809.519665911566
**********************
R2 for  CLWYD  -> 0.12168252887615971
MSE for  CLWYD  -> 595497376.2134383
MAPE for  CLWYD  -> 0.40371542347249684
MAE for  CLWYD  -> 17043.840993621325
**********************
R2 for  CONWY  -> 0.1351555406840077
MSE for  CONWY  -> 18037736722.69818
MAPE for  CONWY  -> 0.6546002050486823
MAE for  CONWY  -> 57195.94745165825
**********************
R2 for  CORNWALL  -> 0.13239330144985428
MSE for  CORNWALL  -> 48818660649.189354
MAPE for  CORNWALL  -> 0.6359395208320372
MAE for  CORNWALL  -> 80441.25247378598
**********************
R2 for  COUNTY DURHAM  -> 0.01427659676270987
MSE for  COUNTY DURHAM  -> 346562749755.7502
MAPE for  COUNTY DURHAM  -> 1.1800856718889898
MAE for  COUNTY DURHAM  -> 86703.44560044345
**********************
R2 for  CUMBRIA  -> 0.0785366751424551
MSE for  CUMBRIA  -> 55500161477.362274
MAPE for  CUMBRIA  -> 0.7508034034170102
MAE for  CUMBRIA  -> 64750.39239170623
**********************
R2 for  DARLINGTON  -> 0.024714913426340024
MSE for  DARLINGTON  -> 146426013360.09137
MAPE for  DARLINGTON  -> 0.6119173174614587
MAE for  DARLINGTON  -> 58906.515843823916
**********************
R2 for  DENBIGHSHIRE  -> 0.10538711333869644
MSE for  DENBIGHSHIRE  -> 24745771310.4599
MAPE for  DENBIGHSHIRE  -> 0.5504469909459745
MAE for  DENBIGHSHIRE  -> 49366.7650192247
**********************
R2 for  DERBYSHIRE  -> 0.04627324337707117
MSE for  DERBYSHIRE  -> 100924870690.12076
MAPE for  DERBYSHIRE  -> 0.7315507943026628
MAE for  DERBYSHIRE  -> 61404.62178530602
**********************
R2 for  DEVON  -> 0.06961774859976466
MSE for  DEVON  -> 132721852248.69623
MAPE for  DEVON  -> 1.2482131423633736
MAE for  DEVON  -> 84419.66409792402
**********************
R2 for  DORSET  -> 0.12875851458190657
MSE for  DORSET  -> 69363843845.97607
MAPE for  DORSET  -> 0.6087500965826188
MAE for  DORSET  -> 84103.35669838492
**********************
R2 for  DURHAM  -> 0.31676749211299937
MSE for  DURHAM  -> 2963067578.8125734
MAPE for  DURHAM  -> 0.6351524322153747
MAE for  DURHAM  -> 35313.54896863912
**********************
R2 for  DYFED  -> 0.1469640134647635
MSE for  DYFED  -> 402952139.0329721
MAPE for  DYFED  -> 0.444705516582266
MAE for  DYFED  -> 14666.91885583621
**********************
R2 for  EAST RIDING OF YORKSHIRE  -> 0.09861737423868977
MSE for  EAST RIDING OF YORKSHIRE  -> 35359265783.0635
MAPE for  EAST RIDING OF YORKSHIRE  -> 0.5803598104560567
MAE for  EAST RIDING OF YORKSHIRE  -> 59523.50268716394
**********************
R2 for  EAST SUSSEX  -> 0.1817697542251827
MSE for  EAST SUSSEX  -> 54435304453.08321
MAPE for  EAST SUSSEX  -> 0.736780574564975
MAE for  EAST SUSSEX  -> 83161.62135041352
**********************
R2 for  ESSEX  -> 0.08450145430638667
MSE for  ESSEX  -> 149562107959.97958
MAPE for  ESSEX  -> 0.6410665222969965
MAE for  ESSEX  -> 89845.85116477146
**********************
R2 for  FLINTSHIRE  -> 0.08428247348289453
MSE for  FLINTSHIRE  -> 37003045636.79188
MAPE for  FLINTSHIRE  -> 0.5650637178841538
MAE for  FLINTSHIRE  -> 53947.55022294976
**********************
R2 for  GLOUCESTERSHIRE  -> 0.09127846400365036
MSE for  GLOUCESTERSHIRE  -> 116303859043.25806
MAPE for  GLOUCESTERSHIRE  -> 0.726534639457062
MAE for  GLOUCESTERSHIRE  -> 93373.33438621962
**********************
R2 for  GREATER LONDON  -> 0.021541735943942597
MSE for  GREATER LONDON  -> 3454582808805.374
MAPE for  GREATER LONDON  -> 2.5241314113415934
MAE for  GREATER LONDON  -> 231180.4214900287
**********************
R2 for  GREATER MANCHESTER  -> 0.01751976138249489
MSE for  GREATER MANCHESTER  -> 316729508630.89905
MAPE for  GREATER MANCHESTER  -> 1.2736207613922137
MAE for  GREATER MANCHESTER  -> 68854.27658394088
**********************
R2 for  GWENT  -> 0.17000591202724324
MSE for  GWENT  -> 1205246657.2709918
MAPE for  GWENT  -> 0.4183226462971368
MAE for  GWENT  -> 21580.33656563595
**********************
R2 for  GWYNEDD  -> 0.09541224672536563
MSE for  GWYNEDD  -> 35935145508.20508
MAPE for  GWYNEDD  -> 0.765684848916722
MAE for  GWYNEDD  -> 58253.29285966843
**********************
R2 for  HALTON  -> 0.08261456665308264
MSE for  HALTON  -> 35774223959.77265
MAPE for  HALTON  -> 0.7574153979445181
MAE for  HALTON  -> 53793.57515012179
**********************
R2 for  HAMPSHIRE  -> 0.04698141229579933
MSE for  HAMPSHIRE  -> 296939868614.09204
MAPE for  HAMPSHIRE  -> 2.9305867814117135
MAE for  HAMPSHIRE  -> 97234.21573278654
**********************
R2 for  HARTLEPOOL  -> 0.08591684918455622
MSE for  HARTLEPOOL  -> 24716332231.749805
MAPE for  HARTLEPOOL  -> 0.7914175080807768
MAE for  HARTLEPOOL  -> 47553.605519765304
**********************
R2 for  HEREFORD AND WORCESTER  -> 0.13865642427870783
MSE for  HEREFORD AND WORCESTER  -> 1366979971.505517
MAPE for  HEREFORD AND WORCESTER  -> 0.3962979137099305
MAE for  HEREFORD AND WORCESTER  -> 24222.516031028266
**********************
R2 for  HEREFORDSHIRE  -> 0.20983238341215105
MSE for  HEREFORDSHIRE  -> 21995466492.90728
MAPE for  HEREFORDSHIRE  -> 0.6293372493476508
MAE for  HEREFORDSHIRE  -> 81115.68607439064
**********************
R2 for  HERTFORDSHIRE  -> 0.07623868186888527
MSE for  HERTFORDSHIRE  -> 310002589996.7037
MAPE for  HERTFORDSHIRE  -> 0.794035611341218
MAE for  HERTFORDSHIRE  -> 119501.74492250093
**********************
R2 for  HUMBERSIDE  -> 0.20644515808654584
MSE for  HUMBERSIDE  -> 634730720.651726
MAPE for  HUMBERSIDE  -> 0.4133811070263455
MAE for  HUMBERSIDE  -> 16158.693037399318
**********************
R2 for  ISLE OF ANGLESEY  -> 0.10739550473424508
MSE for  ISLE OF ANGLESEY  -> 36391631504.240616
MAPE for  ISLE OF ANGLESEY  -> 0.800326893633953
MAE for  ISLE OF ANGLESEY  -> 61929.88294377423
**********************
R2 for  ISLE OF WIGHT  -> 0.1781548207959508
MSE for  ISLE OF WIGHT  -> 24450247616.703297
MAPE for  ISLE OF WIGHT  -> 0.9995389925713337
MAE for  ISLE OF WIGHT  -> 65541.537435641
**********************
R2 for  ISLES OF SCILLY  -> 0.26775759753316275
MSE for  ISLES OF SCILLY  -> 24782094562.868423
MAPE for  ISLES OF SCILLY  -> 0.6087223913981024
MAE for  ISLES OF SCILLY  -> 103777.54614947285
**********************
R2 for  KENT  -> 0.07622410212458008
MSE for  KENT  -> 158826553463.3139
MAPE for  KENT  -> 2.4930483603021125
MAE for  KENT  -> 91478.79190070248
**********************
R2 for  LANCASHIRE  -> 0.0844949889769564
MSE for  LANCASHIRE  -> 41857446100.48409
MAPE for  LANCASHIRE  -> 0.9818041122948952
MAE for  LANCASHIRE  -> 57891.2727415333
**********************
R2 for  LEICESTER  -> 0.07379416414545892
MSE for  LEICESTER  -> 60206938309.44429
MAPE for  LEICESTER  -> 0.49200557170192905
MAE for  LEICESTER  -> 54451.19446599238
**********************
R2 for  LEICESTERSHIRE  -> 0.04565208028545231
MSE for  LEICESTERSHIRE  -> 150328253048.48404
MAPE for  LEICESTERSHIRE  -> 0.5235403049003949
MAE for  LEICESTERSHIRE  -> 69786.80058270444
**********************
R2 for  LINCOLNSHIRE  -> 0.055501277974926766
MSE for  LINCOLNSHIRE  -> 65358274275.03191
MAPE for  LINCOLNSHIRE  -> 0.5398491438492387
MAE for  LINCOLNSHIRE  -> 53989.17792186302
**********************
R2 for  LUTON  -> 0.1319204551307137
MSE for  LUTON  -> 40748460404.937584
MAPE for  LUTON  -> 0.36514473317916357
MAE for  LUTON  -> 45654.290371239644
**********************
R2 for  MEDWAY  -> 0.25565784198347896
MSE for  MEDWAY  -> 14732044545.912245
MAPE for  MEDWAY  -> 0.8319624893030678
MAE for  MEDWAY  -> 53811.2390769587
**********************
R2 for  MERSEYSIDE  -> 0.0017217447255444274
MSE for  MERSEYSIDE  -> 3357330809182.4087
MAPE for  MERSEYSIDE  -> 1.0279734496925046
MAE for  MERSEYSIDE  -> 73027.0077155716
**********************
R2 for  MERTHYR TYDFIL  -> 0.1471505120197245
MSE for  MERTHYR TYDFIL  -> 8995143311.16138
MAPE for  MERTHYR TYDFIL  -> 0.8259253425667268
MAE for  MERTHYR TYDFIL  -> 36531.04049357857
**********************
R2 for  MID GLAMORGAN  -> 0.23984170390039006
MSE for  MID GLAMORGAN  -> 425621450.8055084
MAPE for  MID GLAMORGAN  -> 0.6361602224216719
MAE for  MID GLAMORGAN  -> 14684.119871401726
**********************
R2 for  MIDDLESBROUGH  -> 0.037594803058740744
MSE for  MIDDLESBROUGH  -> 72849595457.5702
MAPE for  MIDDLESBROUGH  -> 0.7492534563908283
MAE for  MIDDLESBROUGH  -> 51956.696309247964
**********************
R2 for  MILTON KEYNES  -> 0.07942818188836687
MSE for  MILTON KEYNES  -> 137669539952.88434
MAPE for  MILTON KEYNES  -> 0.6094136652254888
MAE for  MILTON KEYNES  -> 77564.61662855124
**********************
R2 for  MONMOUTHSHIRE  -> 0.09004270785676016
MSE for  MONMOUTHSHIRE  -> 86051272008.01402
MAPE for  MONMOUTHSHIRE  -> 44.36088614123702
MAE for  MONMOUTHSHIRE  -> 81430.03281649116
**********************
R2 for  NEATH PORT TALBOT  -> 0.27493977081788346
MSE for  NEATH PORT TALBOT  -> 3364282710.646215
MAPE for  NEATH PORT TALBOT  -> 0.6160645224800085
MAE for  NEATH PORT TALBOT  -> 36732.51759627366
**********************
R2 for  NEWPORT  -> 0.0078066087082081514
MSE for  NEWPORT  -> 744958874287.9731
MAPE for  NEWPORT  -> 16.896258943328128
MAE for  NEWPORT  -> 69696.45456496044
**********************
R2 for  NORFOLK  -> 0.1416569043475322
MSE for  NORFOLK  -> 36424005618.80417
MAPE for  NORFOLK  -> 0.5974165554471229
MAE for  NORFOLK  -> 63886.261995408146
**********************
R2 for  NORTH EAST LINCOLNSHIRE  -> 0.189996992974779
MSE for  NORTH EAST LINCOLNSHIRE  -> 7943783329.177368
MAPE for  NORTH EAST LINCOLNSHIRE  -> 0.6706161401547938
MAE for  NORTH EAST LINCOLNSHIRE  -> 39775.25812751944
**********************
R2 for  NORTH LINCOLNSHIRE  -> 0.026511704742067654
MSE for  NORTH LINCOLNSHIRE  -> 109680033176.29907
MAPE for  NORTH LINCOLNSHIRE  -> 0.5458763168801106
MAE for  NORTH LINCOLNSHIRE  -> 48273.12306669638
**********************
R2 for  NORTH NORTHAMPTONSHIRE  -> 0.009998683486295956
MSE for  NORTH NORTHAMPTONSHIRE  -> 1004939250096.5665
MAPE for  NORTH NORTHAMPTONSHIRE  -> 0.5302352562894266
MAE for  NORTH NORTHAMPTONSHIRE  -> 150194.41145163216
**********************
R2 for  NORTH SOMERSET  -> 0.13438262653227762
MSE for  NORTH SOMERSET  -> 55544300014.51569
MAPE for  NORTH SOMERSET  -> 0.5496168740374681
MAE for  NORTH SOMERSET  -> 70715.56886582218
**********************
R2 for  NORTH YORKSHIRE  -> 0.07250679794959825
MSE for  NORTH YORKSHIRE  -> 98429788218.11955
MAPE for  NORTH YORKSHIRE  -> 0.7334094996785201
MAE for  NORTH YORKSHIRE  -> 82857.86059549834
**********************
R2 for  NORTHAMPTONSHIRE  -> 0.054669136562872644
MSE for  NORTHAMPTONSHIRE  -> 118144275807.18045
MAPE for  NORTHAMPTONSHIRE  -> 0.5338138111808295
MAE for  NORTHAMPTONSHIRE  -> 65886.55541797509
**********************
R2 for  NORTHUMBERLAND  -> 0.02599912137103144
MSE for  NORTHUMBERLAND  -> 186072864035.47064
MAPE for  NORTHUMBERLAND  -> 0.9944530351469847
MAE for  NORTHUMBERLAND  -> 74067.82339790996
**********************
R2 for  NOTTINGHAMSHIRE  -> 0.11534822213739349
MSE for  NOTTINGHAMSHIRE  -> 35440637668.6936
MAPE for  NOTTINGHAMSHIRE  -> 0.6234379307274039
MAE for  NOTTINGHAMSHIRE  -> 58798.25862584998
**********************
R2 for  OXFORDSHIRE  -> 0.05028049938795198
MSE for  OXFORDSHIRE  -> 418735928311.1194
MAPE for  OXFORDSHIRE  -> 1.2878981695467973
MAE for  OXFORDSHIRE  -> 122651.90031555737
**********************
R2 for  PEMBROKESHIRE  -> 0.032083237191152914
MSE for  PEMBROKESHIRE  -> 113296068140.61867
MAPE for  PEMBROKESHIRE  -> 0.6446141560644247
MAE for  PEMBROKESHIRE  -> 65249.24390109033
**********************
R2 for  POOLE  -> 0.11078499673812414
MSE for  POOLE  -> 82905886787.65694
MAPE for  POOLE  -> 0.6315519949270842
MAE for  POOLE  -> 109515.1625853715
**********************
R2 for  PORTSMOUTH  -> 0.03646527205134609
MSE for  PORTSMOUTH  -> 144784575206.2045
MAPE for  PORTSMOUTH  -> 2.143393005814605
MAE for  PORTSMOUTH  -> 56970.89381432565
**********************
R2 for  POWYS  -> 0.25608110754112234
MSE for  POWYS  -> 11092768866.14918
MAPE for  POWYS  -> 0.8637002207710138
MAE for  POWYS  -> 62456.83577255426
**********************
R2 for  READING  -> 0.019343790314272247
MSE for  READING  -> 1035724419019.0709
MAPE for  READING  -> 0.415812778665169
MAE for  READING  -> 96321.17232682832
**********************
R2 for  REDCAR AND CLEVELAND  -> 0.13022977174667238
MSE for  REDCAR AND CLEVELAND  -> 11051172143.616062
MAPE for  REDCAR AND CLEVELAND  -> 0.6986355218137735
MAE for  REDCAR AND CLEVELAND  -> 44010.39616542485
**********************
R2 for  RHONDDA CYNON TAFF  -> 0.02841436267513886
MSE for  RHONDDA CYNON TAFF  -> 69550294774.94997
MAPE for  RHONDDA CYNON TAFF  -> 0.7142470093424784
MAE for  RHONDDA CYNON TAFF  -> 40630.30281991026
**********************
R2 for  RUTLAND  -> 0.2139359970365835
MSE for  RUTLAND  -> 32215937361.53081
MAPE for  RUTLAND  -> 0.7707998842015623
MAE for  RUTLAND  -> 100938.63391088421
**********************
R2 for  SHROPSHIRE  -> 0.10763913063615516
MSE for  SHROPSHIRE  -> 56406391560.68375
MAPE for  SHROPSHIRE  -> 0.804935400308095
MAE for  SHROPSHIRE  -> 71125.70330769171
**********************
R2 for  SLOUGH  -> 0.010215392538970747
MSE for  SLOUGH  -> 2338370272415.889
MAPE for  SLOUGH  -> 0.4767798347750046
MAE for  SLOUGH  -> 82997.80203674338
**********************
R2 for  SOMERSET  -> 0.06439854498015929
MSE for  SOMERSET  -> 105780020763.98726
MAPE for  SOMERSET  -> 0.5541784770535473
MAE for  SOMERSET  -> 73846.11944084658
**********************
R2 for  SOUTH GLAMORGAN  -> 0.1748385117274618
MSE for  SOUTH GLAMORGAN  -> 1006110740.8073515
MAPE for  SOUTH GLAMORGAN  -> 0.44553897954611316
MAE for  SOUTH GLAMORGAN  -> 23064.697990737808
**********************

For neural networks, to avoid overfitting, we made use of callbacks. The callback saves the model on a state where minimum validation loss is observed. This model is then used to make the final prediction.

In [ ]:
for name,data in grouped_data: #training for neural networks

    data= data.drop('County',axis =1)

    standardized_data = standardize(data)

    standardized_data = remove_outliers(standardized_data)

    destandardized_data = destandardize(standardized_data,data)

    destandardized_data = one_hot_encode(data,prefixes)

    destandardized_data = one_hot_encode(data,prefixes)

    y = destandardized_data['Price']

    X = destandardized_data.drop('Price', axis =1)

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=seed)

    model = get_model(X.shape[1]) #instantiate a different neural network for each county

    path = '/content/drive/MyDrive/'+name+'.hdf5' #path where the model with minumum validation loss is stored

    checkpoint = ModelCheckpoint(path,monitor='val_loss',save_best_only=True) 

    model.fit(X_train,y_train,validation_split=0.2,epochs = 10,batch_size= 5000, verbose=0, callbacks = [checkpoint])



    dnn_models[name] = model

    model = load_model(path)

    print('for ',name,' ->')

    model.evaluate(X_test,y_test)

    print('*********************************************')

for  AVON  ->
52/52 [==============================] - 0s 2ms/step - loss: 41.3458
*********************************************
for  BATH AND NORTH EAST SOMERSET  ->
261/261 [==============================] - 1s 2ms/step - loss: 74.9270
*********************************************
for  BEDFORD  ->
115/115 [==============================] - 0s 2ms/step - loss: 33.5012
*********************************************
for  BEDFORDSHIRE  ->
404/404 [==============================] - 1s 2ms/step - loss: 22.7738
*********************************************
for  BERKSHIRE  ->
29/29 [==============================] - 0s 3ms/step - loss: 45.8868
*********************************************
for  BLACKBURN WITH DARWEN  ->
179/179 [==============================] - 1s 2ms/step - loss: 47.5827
*********************************************
for  BLACKPOOL  ->
245/245 [==============================] - 1s 2ms/step - loss: 32.7479
*********************************************
for  BLAENAU GWENT  ->
72/72 [==============================] - 0s 2ms/step - loss: 46.9363
*********************************************
for  BOURNEMOUTH  ->
346/346 [==============================] - 1s 2ms/step - loss: 195.0439
*********************************************
for  BOURNEMOUTH, CHRISTCHURCH AND POOLE  ->
65/65 [==============================] - 0s 2ms/step - loss: 52.9485
*********************************************
for  BRACKNELL FOREST  ->
202/202 [==============================] - 1s 2ms/step - loss: 24.3231
*********************************************
for  BRIDGEND  ->
182/182 [==============================] - 1s 2ms/step - loss: 48.3727
*********************************************
for  BRIGHTON AND HOVE  ->
467/467 [==============================] - 1s 2ms/step - loss: 665.7035
*********************************************
for  BUCKINGHAMSHIRE  ->
812/812 [==============================] - 2s 2ms/step - loss: 27.9287
*********************************************
for  CAERPHILLY  ->
205/205 [==============================] - 1s 2ms/step - loss: 36.5270
*********************************************
for  CAMBRIDGESHIRE  ->
1014/1014 [==============================] - 3s 2ms/step - loss: 24.9047
*********************************************
for  CARDIFF  ->
494/494 [==============================] - 1s 2ms/step - loss: 69.5568
*********************************************
for  CARMARTHENSHIRE  ->
215/215 [==============================] - 1s 2ms/step - loss: 39.7282
*********************************************
for  CENTRAL BEDFORDSHIRE  ->
206/206 [==============================] - 1s 2ms/step - loss: 56.7469
*********************************************
for  CEREDIGION  ->
82/82 [==============================] - 1s 3ms/step - loss: 52.2734
*********************************************
for  CHESHIRE  ->
627/627 [==============================] - 2s 2ms/step - loss: 28.3274
*********************************************
for  CHESHIRE EAST  ->
278/278 [==============================] - 1s 2ms/step - loss: 48.1750
*********************************************
for  CHESHIRE WEST AND CHESTER  ->
218/218 [==============================] - 1s 2ms/step - loss: 44.1060
*********************************************
for  CITY OF BRISTOL  ->
649/649 [==============================] - 2s 2ms/step - loss: 62.3732
*********************************************
for  CITY OF DERBY  ->
325/325 [==============================] - 1s 2ms/step - loss: 30.6972
*********************************************
for  CITY OF KINGSTON UPON HULL  ->
335/335 [==============================] - 1s 2ms/step - loss: 35.1761
*********************************************
for  CITY OF NOTTINGHAM  ->
329/329 [==============================] - 1s 2ms/step - loss: 35.2275
*********************************************
for  CITY OF PETERBOROUGH  ->
265/265 [==============================] - 1s 3ms/step - loss: 31.6157
*********************************************
for  CITY OF PLYMOUTH  ->
353/353 [==============================] - 1s 2ms/step - loss: 37.9208
*********************************************
for  CLEVELAND  ->
6/6 [==============================] - 0s 3ms/step - loss: 55.3779
*********************************************
for  CLWYD  ->
17/17 [==============================] - 0s 2ms/step - loss: 58.5057
*********************************************
for  CONWY  ->
175/175 [==============================] - 1s 2ms/step - loss: 39.4481
*********************************************
for  CORNWALL  ->
905/905 [==============================] - 2s 2ms/step - loss: 29.0220
*********************************************
for  COUNTY DURHAM  ->
304/304 [==============================] - 1s 2ms/step - loss: 42.8675
*********************************************
for  CUMBRIA  ->
770/770 [==============================] - 2s 2ms/step - loss: 31.6093
*********************************************
for  DARLINGTON  ->
172/172 [==============================] - 1s 2ms/step - loss: 37.0630
*********************************************
for  DENBIGHSHIRE  ->
130/130 [==============================] - 0s 2ms/step - loss: 39.1435
*********************************************
for  DERBYSHIRE  ->
1169/1169 [==============================] - 3s 2ms/step - loss: 27.3923
*********************************************
for  DEVON  ->
1366/1366 [==============================] - 3s 2ms/step - loss: 92.2323
*********************************************
for  DORSET  ->
739/739 [==============================] - 2s 2ms/step - loss: 25.3996
*********************************************
for  DURHAM  ->
419/419 [==============================] - 1s 2ms/step - loss: 31.9387
*********************************************
for  DYFED  ->
9/9 [==============================] - 0s 2ms/step - loss: 99.9996
*********************************************
for  EAST RIDING OF YORKSHIRE  ->
552/552 [==============================] - 1s 2ms/step - loss: 27.0923
*********************************************
for  EAST SUSSEX  ->
1035/1035 [==============================] - 3s 2ms/step - loss: 29.1943
*********************************************
for  ESSEX  ->
2316/2316 [==============================] - 6s 2ms/step - loss: 23.4259
*********************************************
for  FLINTSHIRE  ->
185/185 [==============================] - 1s 2ms/step - loss: 36.7448
*********************************************
for  GLOUCESTERSHIRE  ->
1006/1006 [==============================] - 2s 2ms/step - loss: 40.4131
*********************************************
for  GREATER LONDON  ->
10749/10749 [==============================] - 25s 2ms/step - loss: 99.9705
*********************************************
for  GREATER MANCHESTER  ->
3686/3686 [==============================] - 9s 2ms/step - loss: 40.7955
*********************************************
for  GWENT  ->
6/6 [==============================] - 0s 3ms/step - loss: 79.7362
*********************************************
for  GWYNEDD  ->
160/160 [==============================] - 1s 2ms/step - loss: 44.9807
*********************************************
for  HALTON  ->
150/150 [==============================] - 1s 2ms/step - loss: 43.2190
*********************************************
for  HAMPSHIRE  ->
2186/2186 [==============================] - 5s 2ms/step - loss: 26.2889
*********************************************
for  HARTLEPOOL  ->
134/134 [==============================] - 0s 2ms/step - loss: 48.1436
*********************************************
for  HEREFORD AND WORCESTER  ->
25/25 [==============================] - 0s 2ms/step - loss: 42.8058
*********************************************
for  HEREFORDSHIRE  ->
239/239 [==============================] - 1s 2ms/step - loss: 37.3189
*********************************************
for  HERTFORDSHIRE  ->
1769/1769 [==============================] - 4s 2ms/step - loss: 23.0105
*********************************************
for  HUMBERSIDE  ->
46/46 [==============================] - 0s 2ms/step - loss: 50.2377
*********************************************
for  ISLE OF ANGLESEY  ->
87/87 [==============================] - 0s 2ms/step - loss: 58.9727
*********************************************
for  ISLE OF WIGHT  ->
274/274 [==============================] - 1s 2ms/step - loss: 33.1201
*********************************************
for  ISLES OF SCILLY  ->
2/2 [==============================] - 0s 5ms/step - loss: 97.9639
*********************************************
for  KENT  ->
2362/2362 [==============================] - 6s 2ms/step - loss: 303.7694
*********************************************
for  LANCASHIRE  ->
1879/1879 [==============================] - 6s 3ms/step - loss: 34.7474
*********************************************
for  LEICESTER  ->
343/343 [==============================] - 1s 2ms/step - loss: 30.8639
*********************************************
for  LEICESTERSHIRE  ->
1048/1048 [==============================] - 3s 2ms/step - loss: 23.2665
*********************************************
for  LINCOLNSHIRE  ->
1222/1222 [==============================] - 3s 2ms/step - loss: 26.3110
*********************************************
for  LUTON  ->
279/279 [==============================] - 1s 2ms/step - loss: 25.4054
*********************************************
for  MEDWAY  ->
363/363 [==============================] - 1s 2ms/step - loss: 27.8284
*********************************************
for  MERSEYSIDE  ->
1745/1745 [==============================] - 5s 3ms/step - loss: 41.2000
*********************************************
for  MERTHYR TYDFIL  ->
64/64 [==============================] - 0s 2ms/step - loss: 57.5703
*********************************************
for  MID GLAMORGAN  ->
19/19 [==============================] - 0s 2ms/step - loss: 67.0884
*********************************************
for  MIDDLESBROUGH  ->
184/184 [==============================] - 1s 2ms/step - loss: 44.7625
*********************************************
for  MILTON KEYNES  ->
444/444 [==============================] - 1s 2ms/step - loss: 26.6656
*********************************************
for  MONMOUTHSHIRE  ->
122/122 [==============================] - 0s 2ms/step - loss: 5575.8965
*********************************************
for  NEATH PORT TALBOT  ->
166/166 [==============================] - 1s 2ms/step - loss: 39.9157
*********************************************
for  NEWPORT  ->
201/201 [==============================] - 1s 2ms/step - loss: 74.7611
*********************************************
for  NORFOLK  ->
1440/1440 [==============================] - 4s 2ms/step - loss: 27.6886
*********************************************
for  NORTH EAST LINCOLNSHIRE  ->
238/238 [==============================] - 1s 2ms/step - loss: 36.8740
*********************************************
for  NORTH LINCOLNSHIRE  ->
223/223 [==============================] - 1s 2ms/step - loss: 31.4372
*********************************************
for  NORTH NORTHAMPTONSHIRE  ->
14/14 [==============================] - 0s 2ms/step - loss: 74.1909
*********************************************
for  NORTH SOMERSET  ->
364/364 [==============================] - 1s 2ms/step - loss: 28.6691
*********************************************
for  NORTH YORKSHIRE  ->
964/964 [==============================] - 2s 2ms/step - loss: 28.3660
*********************************************
for  NORTHAMPTONSHIRE  ->
1210/1210 [==============================] - 3s 2ms/step - loss: 23.8016
*********************************************
for  NORTHUMBERLAND  ->
463/463 [==============================] - 1s 2ms/step - loss: 82.9991
*********************************************
for  NOTTINGHAMSHIRE  ->
1235/1235 [==============================] - 3s 2ms/step - loss: 30.8438
*********************************************
for  OXFORDSHIRE  ->
999/999 [==============================] - 3s 3ms/step - loss: 28.9213
*********************************************
for  PEMBROKESHIRE  ->
152/152 [==============================] - 1s 2ms/step - loss: 45.3534
*********************************************
for  POOLE  ->
257/257 [==============================] - 1s 2ms/step - loss: 29.6014
*********************************************
for  PORTSMOUTH  ->
327/327 [==============================] - 1s 2ms/step - loss: 40.8861
*********************************************
for  POWYS  ->
149/149 [==============================] - 1s 2ms/step - loss: 43.2219
*********************************************
for  READING  ->
257/257 [==============================] - 1s 2ms/step - loss: 25.9538
*********************************************
for  REDCAR AND CLEVELAND  ->
177/177 [==============================] - 1s 2ms/step - loss: 42.1644
*********************************************
for  RHONDDA CYNON TAFF  ->
292/292 [==============================] - 1s 2ms/step - loss: 58.7093
*********************************************
for  RUTLAND  ->
61/61 [==============================] - 0s 2ms/step - loss: 65.0192
*********************************************
for  SHROPSHIRE  ->
468/468 [==============================] - 1s 2ms/step - loss: 27.5889
*********************************************
for  SLOUGH  ->
181/181 [==============================] - 1s 2ms/step - loss: 24.9618
*********************************************
for  SOMERSET  ->
899/899 [==============================] - 2s 2ms/step - loss: 99.1435
*********************************************
for  SOUTH GLAMORGAN  ->
6/6 [==============================] - 0s 4ms/step - loss: 77.5073
*********************************************
for  SOUTH GLOUCESTERSHIRE  ->
415/415 [==============================] - 1s 2ms/step - loss: 21.9251
*********************************************
for  SOUTH YORKSHIRE  ->
1701/1701 [==============================] - 4s 2ms/step - loss: 36.1866
*********************************************
for  SOUTHAMPTON  ->
351/351 [==============================] - 1s 2ms/step - loss: 25.7654
*********************************************
for  SOUTHEND-ON-SEA  ->
320/320 [==============================] - 1s 2ms/step - loss: 80.1113
*********************************************
for  STAFFORDSHIRE  ->
1170/1170 [==============================] - 3s 2ms/step - loss: 25.4120
*********************************************
for  STOCKTON-ON-TEES  ->
283/283 [==============================] - 1s 3ms/step - loss: 32.8249
*********************************************
for  STOKE-ON-TRENT  ->
349/349 [==============================] - 1s 2ms/step - loss: 32.8299
*********************************************
for  SUFFOLK  ->
1188/1188 [==============================] - 3s 2ms/step - loss: 25.1126
*********************************************
for  SURREY  ->
1876/1876 [==============================] - 5s 2ms/step - loss: 26.1672
*********************************************
for  SWANSEA  ->
310/310 [==============================] - 1s 2ms/step - loss: 40.2910
*********************************************
for  SWINDON  ->
349/349 [==============================] - 1s 3ms/step - loss: 24.1015
*********************************************
for  THAMESDOWN  ->
28/28 [==============================] - 0s 2ms/step - loss: 42.3297
*********************************************
for  THE VALE OF GLAMORGAN  ->
193/193 [==============================] - 1s 2ms/step - loss: 36.8855
*********************************************
for  THURROCK  ->
252/252 [==============================] - 1s 2ms/step - loss: 26.7317
*********************************************
for  TORBAY  ->
267/267 [==============================] - 1s 2ms/step - loss: 1366.6218
*********************************************
for  TORFAEN  ->
103/103 [==============================] - 0s 2ms/step - loss: 52.7257
*********************************************
for  TYNE AND WEAR  ->
1445/1445 [==============================] - 4s 2ms/step - loss: 53.0710
*********************************************
for  WARRINGTON  ->
297/297 [==============================] - 1s 2ms/step - loss: 41.6532
*********************************************
for  WARWICKSHIRE  ->
878/878 [==============================] - 2s 2ms/step - loss: 26.4689
*********************************************
for  WEST BERKSHIRE  ->
215/215 [==============================] - 1s 2ms/step - loss: 37.7643
*********************************************
for  WEST GLAMORGAN  ->
7/7 [==============================] - 0s 3ms/step - loss: 53.5358
*********************************************
for  WEST MIDLANDS  ->
3177/3177 [==============================] - 8s 2ms/step - loss: 32.3268
*********************************************
for  WEST NORTHAMPTONSHIRE  ->
17/17 [==============================] - 0s 3ms/step - loss: 183.6792
*********************************************
for  WEST SUSSEX  ->
1451/1451 [==============================] - 4s 2ms/step - loss: 29.7872
*********************************************
for  WEST YORKSHIRE  ->
3157/3157 [==============================] - 8s 2ms/step - loss: 68.7219
*********************************************
for  WILTSHIRE  ->
756/756 [==============================] - 2s 2ms/step - loss: 28.7882
*********************************************
for  WINDSOR AND MAIDENHEAD  ->
225/225 [==============================] - 1s 2ms/step - loss: 35.4391
*********************************************
for  WOKINGHAM  ->
265/265 [==============================] - 1s 2ms/step - loss: 25.1765
*********************************************
for  WORCESTERSHIRE  ->
872/872 [==============================] - 2s 2ms/step - loss: 40.8479
*********************************************
for  WREKIN  ->
223/223 [==============================] - 1s 2ms/step - loss: 30.0641
*********************************************
for  WREXHAM  ->
147/147 [==============================] - 1s 2ms/step - loss: 43.1464
*********************************************
for  YORK  ->
310/310 [==============================] - 1s 2ms/step - loss: 28.5930
*********************************************

In [ ]:
values = {'R2':r2,'MSE':mse, 'MAPE':mape, "MAE":mae} #storing the results obtained in a  pandas dataframe
data = pd.DataFrame(values)
data

           R2           MSE       MAPE            MAE
0    0.080242  1.588620e+09   0.452839   24448.144417
1    0.084333  1.894648e+11  25.192539  130708.156114
2    0.036374  2.199380e+11   0.589269  109211.772244
3    0.375174  5.648209e+09   0.422806   47505.169660
4    0.123102  3.260097e+09   0.406683   36374.423000
..        ...           ...        ...            ...
125  0.196373  7.694217e+10   0.449864   99579.315473
126  0.088375  7.806794e+10   0.730319   75740.816630
127  0.116732  2.430059e+10   0.594301   55518.801190
128  0.199767  9.981091e+09   0.636963   53598.232628
129  0.027581  3.200188e+11   0.495758   76961.717493

[130 rows x 4 columns]

In [ ]:
data.to_csv('lr_results.csv') # writing the results to a csv file.